@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";

.graphBlock {
  height: 10px;
  background-color: $blueDark;

  .score {
    width: 0;
    height: 100%;
    background-color: $white;
    @include transition(all, 0.5s);
  }
}