@font-face {
  font-family: "PT_Sans-Web-Regular";
  src: local("PT_Sans-Web-Regular");
  url:("../assets/fonts/PT_Sans-Web-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: local("Georgia");
  url:("../assets/fonts/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}